.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}